
@{
    ViewData["Title"] = "About";


var StudentName = "Amine OUATAR";
var StudentNumber = "101579629";
var CourseCode = "COMP2139";
var CourseSection = "10:00am";

}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Wlecome to the About Page</h1>
    <p>Student Name: @StudentName</p>
    <p>Student Number: @StudentNumber</p>
    <p>Course Code: @CourseCode</p>
    <p>Course Section: @CourseSection</p>
</div>
